<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading center">

			<%= link_to image_tag(@pin.image.url(:medium)), @pin.image.url %>
		</div>
		<div class="panel panel-body">

			<p><strong><%= @pin.title %></strong></p>
			<p><%= simple_format(@pin.description) %></p>
			<p><strong>User: </strong><%= @pin.user.try(:username) %></p>

			<%if @pin.user == current_user %>
				<%= link_to edit_pin_path(@pin) do %>
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				<% end %>
				<%= link_to @pin, method: :delete, data: { confirm: "Are you sure?" } do %>
					<span class="glyphicon glyphicon-trash"></span>
					Delete
				<% end %>
			<% end %>
		</div>
	</div>
</div>
